In [3]:
import pandas as pd 
import numpy as np
import klib
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.preprocessing import StandardScaler, OneHotEncoder,LabelEncoder

In [4]:
df=pd.read_csv('Car price.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  int64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: int64(5), object(13)
memory usage: 2.6+ MB

In [8]:
df.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4,Automatic,Front,04-May,Left wheel,Silver,4

# Tushib qolgan kataklar nectaligini tekshiramiz

In [12]:
df.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

# klib orqali duplicate valuelarni drop qilamiz va ustun nomlarini standardlashtirib olamiz

In [15]:
df_cleaned=klib.data_cleaning(df)
df=df_cleaned

Shape of cleaned data: (18924, 18) - Remaining NAs: 0


Dropped rows: 313
     of which 313 duplicates. (Rows (first 150 shown): [425, 1581, 1697, 1972, 2131, 2268, 2373, 2437, 2450, 2923, 2968, 3026, 3383, 3433, 3525, 3598, 3604, 3859, 3919, 4035, 4182, 4278, 4298, 4398, 4403, 4509, 4732, 4752, 4756, 4862, 4984, 5121, 5174, 5194, 5246, 5328, 5331, 5350, 5354, 5455, 5477, 5572, 5653, 5716, 5778, 5919, 5942, 5989, 6030, 6037, 6071, 6101, 6120, 6138, 6189, 6249, 6291, 6732, 6776, 6847, 6849, 6871, 7035, 7112, 7138, 7269, 7274, 7347, 7406, 7411, 7444, 7796, 7814, 7838, 7848, 7850, 7932, 7944, 7949, 7986, 8177, 8240, 8281, 8437, 8495, 8590, 8657, 8717, 8730, 8765, 9059, 9081, 9120, 9196, 9274, 9275, 9301, 9399, 9779, 9799, 9816, 9824, 9847, 9921, 9965, 9987, 10078, 10081, 10143, 10152, 10264, 10309, 10338, 10339, 10442, 10457, 10513, 10536, 10542, 10604, 10825, 10915, 10925, 10973, 10976, 11020, 11029, 11162, 11209, 11499, 11525, 11528, 11578, 11698, 11729, 11988, 12021, 12025, 12053, 12072, 12090, 12099, 12114, 12240, 12389, 12407, 12434, 12447, 12501, 12520])

Dropped columns: 0
     of which 0 single valued.     Columns: []
Dropped missing values: 0
Reduced memory by at least: 1.89 MB (-71.59%)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              18924 non-null  category
 3   manufacturer      18924 non-null  category
 4   model             18924 non-null  string
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  category
 7   leather_interior  18924 non-null  category
 8   fuel_type         18924 non-null  category
 9   engine_volume     18924 non-null  category
 10  mileage           18924 non-null  string
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  category
 13  drive_wheels      18924 non-null  category
 14  doors             18924 non-null  category
 15  wheel             18924 non-null  category
 16  color             18924 non-null  category
 17  airbags           18924 non-null  int8
dtypes: category(11), int16(1), int32(2), int8(2), string(2)
memory usage: 769.5 KB

In [19]:
df['model'] = df['model'].astype('category')

# levy va engine_volume uchun unique valularni tekshirib kuramiz

In [22]:
df['levy'].unique()

['1399', '1018', '-', '862', '446', ..., '2308', '4860', '1641', '1045', '1901']
Length: 560
Categories (560, object): ['-', '1011', '1016', '1017', ..., '993', '994', '997', 'HYUNDAI']

# levydagi "Hyundai" va "-" larni mean orqali tuldirib ketamiz

In [25]:
df['levy'] = pd.to_numeric(df['levy'], errors='coerce')

In [27]:
urtacha_qiymat=df['levy'].mean()

In [29]:
df['levy']=df['levy'].replace(['-', 'HYUNDAI'], urtacha_qiymat)

In [31]:
df['levy'].unique()

array([ 1399.,  1018.,    nan,   862.,   446.,   891.,   761.,   751.,
         394.,  1053.,  1055.,  1079.,   810.,  2386.,  1850.,   531.,
         586.,  1249.,  2455.,   583.,  1537.,  1288.,   915.,  1750.,
         707.,  1077.,  1486.,  1091.,   650.,   382.,  1436.,  1194.,
         503.,  1017.,  1104.,   639.,   629.,   919.,   781.,   530.,
         640.,   777.,   779.,   934.,   769.,   645.,  1185.,  1324.,
         830.,  1187.,  1111.,   760.,   642.,  1604.,  1095.,   966.,
         473.,  1138.,  1811.,   988.,   765.,   917.,  1156.,   687.,
       11714.,   836.,  1347.,  2866.,  1646.,   259.,   609.,   697.,
         585.,   475.,   690.,   308.,  1823.,  1361.,  1273.,   924.,
         584.,  2078.,   831.,  1172.,   893.,  1872.,  1885.,  1266.,
         447.,  2148.,  1730.,   730.,   289.,   502.,   333.,  1325.,
         247.,   879.,  1342.,  1327.,  1598.,  1514.,  1058.,   738.,
        1935.,   481.,  1522.,  1282.,   456.,   880.,   900.,   798.,
        1277.,   442.,  1051.,   790.,  1292.,  1047.,   528.,  1211.,
        1493.,  1793.,   574.,   930.,  1998.,   271.,   706.,  1481.,
        1677.,  1661.,  1286.,  1408.,  1090.,   595.,  1451.,  1267.,
         993.,  1714.,   878.,   641.,   749.,  1511.,   603.,   353.,
         877.,  1236.,  1141.,   397.,   784.,  1024.,  1357.,  1301.,
         770.,   922.,  1438.,   753.,   607.,  1363.,   638.,   490.,
         431.,   565.,   517.,   833.,   489.,  1760.,   986.,  1841.,
        1620.,  1360.,   474.,  1099.,   978.,  1624.,  1946.,  1268.,
        1307.,   696.,   649.,   666.,  2151.,   551.,   800.,   971.,
        1323.,  2377.,  1845.,  1083.,   694.,   463.,   419.,   345.,
        1515.,  1505.,  2056.,  1203.,   729.,   460.,  1356.,   876.,
         911.,  1190.,   780.,   448.,  2410.,  1848.,  1148.,   834.,
        1275.,  1028.,  1197.,   724.,   890.,  1705.,   505.,   789.,
        2959.,   518.,   461.,  1719.,  2858.,  3156.,  2225.,  2177.,
        1968.,  1888.,  1308.,  2736.,  1103.,   557.,  2195.,   843.,
        1664.,   723.,  4508.,   562.,   501.,  2018.,  1076.,  1202.,
        3301.,   691.,  1440.,  1869.,  1178.,   418.,  1820.,  1413.,
         488.,  1304.,   363.,  2108.,   521.,  1659.,    87.,  1411.,
        1528.,  3292.,  7058.,  1578.,   627.,   874.,  1996.,  1488.,
        5679.,  1234.,  5603.,   400.,   889.,  3268.,   875.,   949.,
        2265.,   441.,   742.,   425.,  2476.,  2971.,   614.,  1816.,
        1375.,  1405.,  2297.,  1062.,  1113.,   420.,  2469.,   658.,
        1951.,  2670.,  2578.,  1995.,  1032.,   994.,  1011.,  2421.,
        1296.,   155.,   494.,   426.,  1086.,   961.,  2236.,  1829.,
         764.,  1834.,  1054.,   617.,  1529.,  2266.,   637.,   626.,
        1832.,  1016.,  2002.,  1756.,   746.,  1285.,  2690.,  1118.,
        5332.,   980.,  1807.,   970.,  1228.,  1195.,  1132.,  1768.,
        1384.,  1080.,  7063.,  1817.,  1452.,  1975.,  1368.,   702.,
        1974.,  1781.,  1036.,   944.,   663.,   364.,  1539.,  1345.,
        1680.,  2209.,   741.,  1575.,   695.,  1317.,   294.,  1525.,
         424.,   997.,  1473.,  1552.,  2819.,  2188.,  1668.,  3057.,
         799.,  1502.,  2606.,   552.,  1694.,  1759.,  1110.,   399.,
        1470.,  1174.,  5877.,  1474.,  1688.,   526.,   686.,  5908.,
        1107.,  2070.,  1468.,  1246.,  1685.,   556.,  1533.,  1917.,
        1346.,   732.,   692.,   579.,   421.,   362.,  3505.,  1855.,
        2711.,  1586.,  3739.,   681.,  1708.,  2278.,  1701.,   722.,
        1482.,   928.,   827.,   832.,   527.,   604.,   173.,  1341.,
        3329.,  1553.,   859.,   167.,   916.,   828.,  2082.,  1176.,
        1108.,   975.,  3008.,  1516.,  2269.,  1699.,  2073.,  1031.,
        1503.,  2364.,  1030.,  1442.,  5666.,  2715.,  1437.,  2067.,
        1426.,  2908.,  1279.,   866.,  4283.,   279.,  2658.,  3015.,
        2004.,  1391.,  4736.,   748.,  1466.,   644.,   683.,  2705.,
        1297.,   731.,  1252.,  2216.,  3141.,  3273.,  1518.,  1723.,
        1588.,   972.,   682.,  1094.,   668.,   175.,   967.,   402.,
        3894.,  1960.,  1599.,  2000.,  2084.,  1621.,   714.,  1109.,
        3989.,   873.,  1572.,  1163.,  1991.,  1716.,  1673.,  2562.,
        2874.,   965.,   462.,   605.,  1948.,  1736.,  3518.,  2054.,
        2467.,  1681.,  1272.,  1205.,   750.,  2156.,  2566.,   115.,
         524.,  3184.,   676.,  1678.,   612.,   328.,   955.,  1441.,
        1675.,  3965.,  2909.,   623.,   822.,   867.,  3025.,  1993.,
         792.,   636.,  4057.,  3743.,  2337.,  2570.,  2418.,  2472.,
        3910.,  1662.,  2123.,  2628.,  3208.,  2080.,  3699.,  2913.,
         864.,  2505.,   870.,  7536.,  1924.,  1671.,  1064.,  1836.,
        1866.,  4741.,   841.,  1369.,  5681.,  3112.,  1366.,  2223.,
        1198.,  1039.,  3811.,  3571.,  1387.,  1171.,  1365.,  1531.,
        1590., 11706.,  2308.,  4860.,  1641.,  1045.,  1901.])

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              13214 non-null  float64
 3   manufacturer      18924 non-null  category
 4   model             18924 non-null  category
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  category
 7   leather_interior  18924 non-null  category
 8   fuel_type         18924 non-null  category
 9   engine_volume     18924 non-null  category
 10  mileage           18924 non-null  string
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  category
 13  drive_wheels      18924 non-null  category
 14  doors             18924 non-null  category
 15  wheel             18924 non-null  category
 16  color             18924 non-null  category
 17  airbags           18924 non-null  int8
dtypes: category(11), float64(1), int16(1), int32(2), int8(2), string(1)
memory usage: 825.9 KB

In [35]:
df['levy']=df['levy'].fillna(df['levy'].mean())

In [37]:
df.isnull().sum()

id                  0
price               0
levy                0
manufacturer        0
model               0
prod_year           0
category            0
leather_interior    0
fuel_type           0
engine_volume       0
mileage             0
cylinders           0
gear_box_type       0
drive_wheels        0
doors               0
wheel               0
color               0
airbags             0
dtype: int64

In [39]:
df['engine_volume'].unique().tolist()

['3.5',
 '3',
 '1.3',
 '2.5',
 '2',
 '1.8',
 '2.4',
 '4',
 '1.6',
 '3.3',
 '2.0 Turbo',
 '2.2 Turbo',
 '4.7',
 '1.5',
 '4.4',
 '3.0 Turbo',
 '1.4 Turbo',
 '3.6',
 '2.3',
 '1.5 Turbo',
 '1.6 Turbo',
 '2.2',
 '2.3 Turbo',
 '1.4',
 '5.5',
 '2.8 Turbo',
 '3.2',
 '3.8',
 '4.6',
 '1.2',
 '5',
 '1.7',
 '2.9',
 '0.5',
 '1.8 Turbo',
 '2.4 Turbo',
 '3.5 Turbo',
 '1.9',
 '2.7',
 '4.8',
 '5.3',
 '0.4',
 '2.8',
 '3.2 Turbo',
 '1.1',
 '2.1',
 '0.7',
 '5.4',
 '1.3 Turbo',
 '3.7',
 '1',
 '2.5 Turbo',
 '2.6',
 '1.9 Turbo',
 '4.4 Turbo',
 '4.7 Turbo',
 '0.8',
 '0.2 Turbo',
 '5.7',
 '4.8 Turbo',
 '4.6 Turbo',
 '6.7',
 '6.2',
 '1.2 Turbo',
 '3.4',
 '1.7 Turbo',
 '6.3 Turbo',
 '2.7 Turbo',
 '4.3',
 '4.2',
 '2.9 Turbo',
 '0',
 '4.0 Turbo',
 '20',
 '3.6 Turbo',
 '0.3',
 '3.7 Turbo',
 '5.9',
 '5.5 Turbo',
 '0.2',
 '2.1 Turbo',
 '5.6',
 '6',
 '0.7 Turbo',
 '0.6 Turbo',
 '6.8',
 '4.5',
 '0.6',
 '7.3',
 '0.1',
 '1.0 Turbo',
 '6.3',
 '4.5 Turbo',
 '0.8 Turbo',
 '4.2 Turbo',
 '3.1',
 '5.0 Turbo',
 '6.4',
 '3.9',
 '5.7 Turbo',
 '0.9',
 '0.4 Turbo',
 '5.4 Turbo',
 '0.3 Turbo',
 '5.2',
 '5.8',
 '1.1 Turbo']

# Bu qatorda Turbo suzini drop qilib yuboramiz

In [42]:
df['engine_volume']=df['engine_volume'].str.replace('Turbo', '', regex=False)

In [44]:
df['engine_volume'] = pd.to_numeric(df['engine_volume'], errors='coerce')

In [46]:
df['engine_volume'].unique()

array([ 3.5,  3. ,  1.3,  2.5,  2. ,  1.8,  2.4,  4. ,  1.6,  3.3,  2.2,
        4.7,  1.5,  4.4,  1.4,  3.6,  2.3,  5.5,  2.8,  3.2,  3.8,  4.6,
        1.2,  5. ,  1.7,  2.9,  0.5,  1.9,  2.7,  4.8,  5.3,  0.4,  1.1,
        2.1,  0.7,  5.4,  3.7,  1. ,  2.6,  0.8,  0.2,  5.7,  6.7,  6.2,
        3.4,  6.3,  4.3,  4.2,  0. , 20. ,  0.3,  5.9,  5.6,  6. ,  0.6,
        6.8,  4.5,  7.3,  0.1,  3.1,  6.4,  3.9,  0.9,  5.2,  5.8])

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              18924 non-null  float64
 3   manufacturer      18924 non-null  category
 4   model             18924 non-null  category
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  category
 7   leather_interior  18924 non-null  category
 8   fuel_type         18924 non-null  category
 9   engine_volume     18924 non-null  float64
 10  mileage           18924 non-null  string
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  category
 13  drive_wheels      18924 non-null  category
 14  doors             18924 non-null  category
 15  wheel             18924 non-null  category
 16  color             18924 non-null  category
 17  airbags           18924 non-null  int8
dtypes: category(10), float64(2), int16(1), int32(2), int8(2), string(1)
memory usage: 950.3 KB

# milage qatoridagi km belgisini tashlab yuboramiz

In [51]:
df['mileage']=df['mileage'].str.replace('km', '', regex=False)

In [53]:
df['mileage'] = pd.to_numeric(df['mileage'], errors='coerce')

In [55]:
df['mileage'].unique()

<IntegerArray>
[186005, 192000, 200000, 168966,  91901, 160931, 258909, 216118, 398069,
 128500,
 ...
 135410,  18500,  52456,  65691, 158130,  23430, 132700, 140607, 307325,
 186923]
Length: 7687, dtype: Int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              18924 non-null  float64
 3   manufacturer      18924 non-null  category
 4   model             18924 non-null  category
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  category
 7   leather_interior  18924 non-null  category
 8   fuel_type         18924 non-null  category
 9   engine_volume     18924 non-null  float64
 10  mileage           18924 non-null  Int64
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  category
 13  drive_wheels      18924 non-null  category
 14  doors             18924 non-null  category
 15  wheel             18924 non-null  category
 16  color             18924 non-null  category
 17  airbags           18924 non-null  int8
dtypes: Int64(1), category(10), float64(2), int16(1), int32(2), int8(2)
memory usage: 968.8 KB

# Standard encoding qilamiz

In [60]:
yozuvli_ustun=df.select_dtypes(include=['object','category']).columns

In [62]:
yozuvli_ustun

Index(['manufacturer', 'model', 'category', 'leather_interior', 'fuel_type',
       'gear_box_type', 'drive_wheels', 'doors', 'wheel', 'color'],
      dtype='object')

In [64]:
for col in yozuvli_ustun:
    print(f"column {col}: {df[col].nunique()}")

column manufacturer: 65
column model: 1590
column category: 11
column leather_interior: 2
column fuel_type: 8
column gear_box_type: 4
column drive_wheels: 3
column doors: 3
column wheel: 2
column color: 16

In [66]:
encoder=LabelEncoder()

In [68]:
df[yozuvli_ustun]=df[yozuvli_ustun].apply(encoder.fit_transform)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              18924 non-null  float64
 3   manufacturer      18924 non-null  int32
 4   model             18924 non-null  int32
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  int32
 7   leather_interior  18924 non-null  int32
 8   fuel_type         18924 non-null  int32
 9   engine_volume     18924 non-null  float64
 10  mileage           18924 non-null  Int64
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  int32
 13  drive_wheels      18924 non-null  int32
 14  doors             18924 non-null  int32
 15  wheel             18924 non-null  int32
 16  color             18924 non-null  int32
 17  airbags           18924 non-null  int8
dtypes: Int64(1), float64(2), int16(1), int32(12), int8(2)
memory usage: 1.4 MB

In [72]:
df.head()

,id,price,levy,manufacturer,model,prod_year,category,leather_interior,fuel_type,engine_volume,mileage,cylinders,gear_box_type,drive_wheels,doors,wheel,color,airbags
0,45654403,13328,1399.000000,32,1242,2010,4,1,3,3.5,186005,6,0,0,1,0,12,12
1,44731507,16621,1018.000000,8,658,2011,4,0,6,3.0,192000,6,2,0,1,0,1,8
2,45774419,8467,906.309899,21,684,2006,3,0,6,1.3,200000,4,3,1,1,1,1,2
3,45769185,3607,862.000000,16,661,2011,4,1,3,2.5,168966,4,0,0,1,0,14,0
4,45809263,11726,446.000000,21,684,2014,3,1,6,1.3,91901,4,0,1,1,0,12,4

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  int32
 1   price             18924 non-null  int32
 2   levy              18924 non-null  float64
 3   manufacturer      18924 non-null  int32
 4   model             18924 non-null  int32
 5   prod_year         18924 non-null  int16
 6   category          18924 non-null  int32
 7   leather_interior  18924 non-null  int32
 8   fuel_type         18924 non-null  int32
 9   engine_volume     18924 non-null  float64
 10  mileage           18924 non-null  Int64
 11  cylinders         18924 non-null  int8
 12  gear_box_type     18924 non-null  int32
 13  drive_wheels      18924 non-null  int32
 14  doors             18924 non-null  int32
 15  wheel             18924 non-null  int32
 16  color             18924 non-null  int32
 17  airbags           18924 non-null  int8
dtypes: Int64(1), float64(2), int16(1), int32(12), int8(2)
memory usage: 1.4 MB

# Scaling qilamiz

In [77]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)
df = pd.DataFrame(df_scaled, columns=df.columns)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18924 entries, 0 to 18923
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                18924 non-null  float64
 1   price             18924 non-null  float64
 2   levy              18924 non-null  float64
 3   manufacturer      18924 non-null  float64
 4   model             18924 non-null  float64
 5   prod_year         18924 non-null  float64
 6   category          18924 non-null  float64
 7   leather_interior  18924 non-null  float64
 8   fuel_type         18924 non-null  float64
 9   engine_volume     18924 non-null  float64
 10  mileage           18924 non-null  float64
 11  cylinders         18924 non-null  float64
 12  gear_box_type     18924 non-null  float64
 13  drive_wheels      18924 non-null  float64
 14  doors             18924 non-null  float64
 15  wheel             18924 non-null  float64
 16  color             18924 non-null  float64
 17  airbags           18924 non-null  float64
dtypes: float64(18)
memory usage: 2.6 MB

In [81]:
df.head()

,id,price,levy,manufacturer,model,prod_year,category,leather_interior,fuel_type,engine_volume,mileage,cylinders,gear_box_type,drive_wheels,doors,wheel,color,airbags
0,0.084288,-0.027374,1.272639,-0.061132,0.924073,-0.161366,-0.811930,0.614976,-0.789735,1.360292,-0.028060,1.182965,-0.599184,-1.605608,0.158708,-0.288386,0.788503,1.256677
1,-0.900111,-0.010235,0.288500,-1.410441,-0.496921,0.015138,-0.811930,-1.626080,0.870937,0.790536,-0.027937,1.182965,1.630041,-1.605608,0.158708,-0.288386,-1.263042,0.331224
2,0.212302,-0.052675,0.000000,-0.679565,-0.433657,-0.867381,-1.170113,-1.626080,0.870937,-1.146637,-0.027774,-0.483436,2.744654,0.159395,0.158708,3.467577,-1.263042,-1.056955
3,0.206719,-0.077970,-0.114454,-0.960671,-0.489621,0.015138,-0.811930,0.614976,-0.789735,0.220779,-0.028409,-0.483436,-0.599184,-1.605608,0.158708,-0.288386,1.161511,-1.519681
4,0.249468,-0.035712,-1.189000,-0.679565,-0.433657,0.544649,-1.170113,0.614976,0.870937,-1.146637,-0.029989,-0.483436,-0.599184,0.159395,0.158708,-0.288386,0.788503,-0.594228